<% layout('../layout/templates/seller/boilerplate') -%>


    <center>
      <img src="<%= seller.imageUrl %>" style="border-radius: 50%; object-fit: cover;" height="250" width="250" alt="">
    </center>
<br>
    <div class="container-lg">
        <form class="row g-3" action="/seller/profile/update?_method=PUT" method="POST">
            <div class="card">
                <div class="card-body">
                    <div class="col-12">
                        <label for="inputEmail4" class="form-label">Username</label>
                        <input type="text" name="seller[username]" class="form-control" id="inputEmail4"
                            value="<%= seller.username %>">
                    </div><br>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Bussiness Name</label>
                        <input type="text" name="seller[bussinessName]" class="form-control" id="inputAddress"
                            value="<%= seller.bussinessName %>">
                    </div><br>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Email</label>
                        <input type="text" name="seller[email]" class="form-control" id="inputAddress"
                            value="<%= seller.email %>">
                    </div><br>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Profile Picture</label>
                        <input type="text" name="seller[imageUrl]" class="form-control" id="inputAddress"
                            value="<%= seller.imageUrl %>">
                    </div><br>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Mobile Number</label>
                        <input type="text" name="seller[contact]" class="form-control" id="inputAddress"
                            value="<%= seller.contact %>">
                    </div><br>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Street</label>
                        <textarea name="seller[address]" class="form-control" id=""><%= seller.address %></textarea>
                    </div><br>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>