<% layout('../layout/boilerplate') %>
<style>
    .read {
    /* Apply styles for read messages */
    color: grey;
}

.unread {
    /* Apply styles for unread messages */
    font-weight: bold;
    color: black;
}
body{
    transition: 0.2s
}
</style>
    <div class="container vh-100" >
        <% if(chat.messages.length > 0) {%>
   
                <div id="chat-messages">
                    <% chat.messages.forEach(message => { %>
                        <% if(message.sender == 'customer') {%>
                            <div class="d-flex me-auto justify-content-end ">
                                <div class="message d-flex flex-column align-items-end">
                                    <span style=" padding: 3px; background-color: skyblue;  padding: 5px; border-radius: 10px ">
                                        <%= message.content %>
                                    </span> 
                                    <span>
                                        <%= message.sender %>
                                    </span> 
                                    <span>
                                        <%= message.timestamp.getHours() % 12 || 12 %>:<%= message.timestamp.getMinutes() %>
                                    </span> <br> <br><br>
                                </div>
                            </div>
                            <% } else {%>
                                <div class="d-flex  justify-content-start ">
                                    <div class="message d-flex flex-column align-items-start">
                                        <span style=" padding: 3px; background-color: lightcoral; padding: 5px; border-radius: 10px ">
                                            <%= message.content %>
                                        </span> 
                                        <span>
                                            <%= message.sender %>
                                        </span>
                                        <span>
                                            <%= message.timestamp.getHours() % 12 || 12 %>:<%= message.timestamp.getMinutes() %>
                                        </span> <br> <br><br>
                                    </div>
                                </div>
                                <% } %>
                    <% }); %>
                </div>
            <% } %>
          
            <form action="/customer/chat/<%= product.id %>/customer/<%= seller.id %>" method="post" class="d-flex ">
                <div class="container input-group fixed-bottom p-3 shadow">
                <input type="text" name="content"  class="form-control flex-grow-1" placeholder="Recipient's username" aria-label="Recipient's username with two button addons">
                <button class="btn btn-primary" type="submit">Send</button>
            </div>
            </form>
       

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            scrollToBottom();
        });
    
        // Function to scroll to the bottom of the page
        function scrollToBottom() {
            // Use either document.body or document.documentElement to ensure cross-browser compatibility
            var body = document.body;
            var html = document.documentElement;
            var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
            // Scroll to the bottom of the page
            window.scrollTo(0, height);
        }
        </script>