<% layout('../layout/boilerplate') %>

    <div class="d-lg-block d-md-block d-sm-block d-none">
        <style>
            #card:hover {
                transform: translate3d(0, -.600rem, 0);
                transition: 0.25s;
                box-shadow: 10px 5px 5px rgba(0, 0, 0);
            }
        </style>

        <div class="container-fluid container-lg ">

            <div class="d-flex row justify-content-center ">
                <% for(let product of products) {%>

                    <div class="card m-2  shadow-lg p-0 " id="card" style="width: 19rem; ">

                        <img src="<%= product.imageUrl[0] %>" class="card-img-top shadow" alt="...">
                        <div class="card-body p-0 mb-0">
                            <ul class="list-group">
                                <li class="list-group-item text-muted py-3">
                                    <center>
                                        <h6 class="card-title">
                                            <b>A <%= product.brand %> Product</b>
                                        </h6>
                                    </center>
                                </li>
                                <li class="list-group-item"
                                    style="display: flex; align-items: center; justify-content: center;  border: 0px;">
                                    <center>
                                        <h5 class="card-title  ">
                                            <%= product.name %>
                                                <% if (newProducts.some(newProduct=> newProduct._id.toString() === product._id.toString())) { %> <span
                                                        class="badge text-bg-info">New</span>
                                                    <% } %>
                                        </h5>

                                    </center>
                                </li>
                        </div>

                        <div class="card-footer p-0">
                            <ul class="list-group list-group-flush d-flex ">
                                <li class="list-group-item d-flex justify-content-between ">
                                    <div>
                                        <b>Price:</b>
                                    </div>
                                    <div>
                                        &#8377; <%= product.price %>
                                    </div>
                                </li>

                                <li class="list-group-item d-flex flex-column  ">
                                    <div class="mb-1"><b>Description:</b></div>
                                    <p class="card-text">
                                        <%= product.headers %>
                                    </p>
                                </li>

                                <li class="list-group-item d-flex justify-content-around "
                                    style=" background-color: #F8F6F4; ">

                                    <a href="/customer/products/<%= product.id %>"
                                        class="btn btn-primary me-1 p-2 w-100 mt-auto rounded-2">View
                                        Details!</a>

                                    <% if(customer) {%>
                                        <form action="/customer/<%= product.id %>/cart"
                                            method="post" id="cartForm" class="w-100">
                                            <button type="submit"
                                                class="btn btn-warning w-100 p-2  mt-auto  rounded-2">Add to
                                                cart</button>
                                        </form>

                                        <% } %>


                                </li>
                            </ul>
                        </div>
                    </div>

                    <% } %>
            </div>
            <nav aria-label="Page navigation example">
                <% if(products.length> 0) {%>
                    <ul class="pagination justify-content-center d-flex">

                        <% if(currentPage==='1' ) {%>
                            <li class="page-item disabled">
                                <a class="page-link" href="/customer/products?page=<%= currentPage - 1 %>">&#8592;</a>
                            </li>
                            <% } else { %>
                                <li class="page-item ">
                                    <a class="page-link"
                                        href="/customer/products?page=<%= currentPage - 1  %>">&#8592;</a>
                                </li>
                                <% } %>
                                    <% const startPage=Math.max(1, currentPage - 3); %>
                                        <% const endPage=Math.min(totalPages, startPage + 6); %>
                                            <% for (let page=startPage; page <=endPage; page++) { %>

                                                <% if(currentPage==page) {%>
                                                    <li class="page-item active shadow"><a class="page-link"
                                                            href="/customer/products?page=<%= page %>">
                                                            <%= page %>
                                                        </a></li>
                                                    <% } else {%>
                                                        <li class="page-item"><a class="page-link"
                                                                href="/customer/products?page=<%= page %>">
                                                                <%= page %>
                                                            </a></li>
                                                        <% } %>

                                                            <% } %>
                                                                <% if(currentPage===totalPages.toString() ) {%>
                                                                    <li class="page-item disabled">
                                                                        <a class="page-link"
                                                                            href="/customer/products?page=<%= parseInt(currentPage) + 1  %>">&#8594;</a>
                                                                    </li>
                                                                    <% } else { %>
                                                                        <li class="page-item">
                                                                            <a class="page-link"
                                                                                href="/customer/products?page=<%= parseInt(currentPage) + 1  %>">&#8594;</a>
                                                                        </li>
                                                                        <% } %>

                    </ul>
                    <% } %>
            </nav>
      
      
    </div>

</div>






