<% layout('../layout/boilerplate') %>
    <div class="container-fluid">
        <div class="d-lg-block d-none">
            <div class="d-flex row justify-content-center ">

                <% for(let product of products) {%>

                    <div class="card m-3  shadow p-0" style="width: 18rem;">
                        <img src="<%= product.imageUrl[0] %>" class="card-img-top shadow" alt="...">
                        <div class="card-body p-0 mb-0">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item text-muted">
                                    <center>
                                        <h6 class="card-title p-1">
                                            <b>A <%= product.brand %> Product</b>
                                        </h6>
                                    </center>
                                </li>

                                <li class="list-group-item" style="display: flex; align-items: center; justify-content: center;">
                                      <center>
                                        <h5 class="card-title p-1">
                                            <%= product.name %>
                                        </h5>
                                      </center>
                                </li>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="list-group list-group-flush d-flex ">
                            <li class="list-group-item d-flex justify-content-between ">
                                <div>
                                    <b>Price:</b>
                                </div>
                                <div>
                                    &#8377; <%= product.price %>
                                </div>
                            </li>
                            <li class="list-group-item d-flex flex-column  ">
                                <div class="mb-1"><b>Description:</b></div>
                                <p class="card-text">
                                    <%= product.headers %>
                                </p>
                            </li>
                            <li class="list-group-item d-flex justify-content-around ">

                                <a href="/customer/products/<%= product.id %>"
                                    class="btn btn-primary me-1 p-2 w-100 mt-auto rounded-2">View
                                    Details!</a>

                                <% if(customer) {%>
                                    <form action="/customer/<%= currentUser._id %>/<%= product.id %>/cart" method="post"
                                        id="cartForm" class="w-100">
                                        <button class="btn btn-warning w-100 p-2  mt-auto  rounded-2"
                                            id="liveToastBtn">Add
                                            to
                                            cart</button>
                                    </form>

                                    <% } %>

                                        <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                            <div id="productToast" class="toast" role="alert" aria-live="assertive"
                                                aria-atomic="true">
                                                <div class="toast-header">
                                                    <strong class="me-auto">
                                                        <p style="font-family: 'DM Serif Display', serif;"
                                                            class="m-2 mt-3">
                                                            Z&nbsp;&nbsp;E&nbsp;&nbsp;N</p>
                                                    </strong>
                                                    <small>11 mins ago</small>
                                                    <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="toast-body" id="toastMessage">
                                                </div>
                                            </div>
                                        </div>
                            </li>
                            </ul>
                        </div>
                    </div>

                    <% } %>
            </div>
        </div>
        <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
            <% for(let product of products) { %>


                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-5 d-flex align-items-center flex-column justify-content-center ">
                            <img class="img-fluid" src="<%= product.imageUrl[0] %>" alt="">
                        </div>
                        <div class="col-7">
                            <ul class="list-group list-group-flush p-1">
                                <li class="list-group-item">
                                    <div class="p-1">
                                        <center>
                                            <h6 class="">
                                                <%= product.name %>
                                            </h6>
                                        </center>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="p-1 d-flex justify-content-between">
                                        <strong>Price:</strong>
                                        <div>
                                            <%= product.price %>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <b>Description:</b><br>
                                    <%= product.headers %>
                                </li>
                                <li class="list-group-item d-flex ">

                                    <% if(customer) {%>
                                        <a href="/customer/products/<%= product.id %>"
                                            class="btn btn-sm btn-primary p-2 me-1 w-100 ">View
                                            Details!</a>
                                        <% }else{ %>
                                            <a href="/customer/products/id"
                                                class="btn btn-sm btn-primary w-100 p-2 me-1 ">View
                                                Details!</a>
                                            <% } %>
                                                <button type="button" class="btn btn-sm btn-primary w-100 p-2 mt-auto "
                                                    id="liveToastBtn">Add
                                                    to
                                                    cart</button>
                                                <!-- <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                                    <div id="productToast" class="toast" role="alert"
                                                        aria-live="assertive" aria-atomic="true">
                                                        <div class="toast-header">
                                                            <strong class="me-auto">
                                                                <p style="font-family: 'DM Serif Display', serif;"
                                                                    class="m-2 mt-3">
                                                                    Z&nbsp;&nbsp;E&nbsp;&nbsp;N</p>
                                                            </strong>
                                                            <small>11 mins ago</small>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="toast" aria-label="Close"></button>
                                                        </div>
                                                        <div class="toast-body" id="toastMessage">
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                                    <div id="liveToast" class="toast" role="alert" aria-live="assertive"
                                                        aria-atomic="true">
                                                        <div class="toast-header">
                                                            <img src="..." class="rounded me-2" alt="...">
                                                            <strong class="me-auto">Bootstrap</strong>
                                                            <small>11 mins ago</small>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="toast" aria-label="Close"></button>
                                                        </div>
                                                        <div class="toast-body">
                                                            Hello, world! This is a toast message.
                                                        </div>
                                                    </div>
                                                </div>
                        </div>
                        </li>

                        </ul>

                    </div>


                </div>



                <% } %>
        </div>



        <nav aria-label="Page navigation example">
            <% if(products.length> 0) {%>
                <ul class="pagination justify-content-center d-flex">

                    <% if(currentPage==='1' ) {%>
                        <li class="page-item disabled">
                            <a class="page-link"
                                href="/customer/products/search?page=<%= currentPage - 1 %>&productName=<%= productName %>">&#8592;</a>
                        </li>
                        <% } else { %>
                            <li class="page-item ">
                                <a class="page-link"
                                    href="/customer/products/search?page=<%= currentPage - 1  %>&productName=<%= productName %>">&#8592;</a>
                            </li>
                            <% } %>
                                <% const startPage=Math.max(1, currentPage - 3); %>
                                    <% const endPage=Math.min(totalPages, startPage + 6); %>
                                        <% for (let page=startPage; page <=endPage; page++) { %>

                                            <% if(currentPage==page) {%>
                                                <li class="page-item active shadow"><a class="page-link"
                                                        href="/customer/products/search?page=<%= page %>&productName=<%= productName %>">
                                                        <%= page %>
                                                    </a></li>
                                                <% } else {%>
                                                    <li class="page-item"><a class="page-link"
                                                            href="/customer/products/search?page=<%= page %>&productName=<%= productName %>">
                                                            <%= page %>
                                                        </a></li>
                                                    <% } %>

                                                        <% } %>
                                                            <% if(currentPage===totalPages.toString() ) {%>
                                                                <li class="page-item disabled">
                                                                    <a class="page-link"
                                                                        href="/customer/products/search?page=<%= parseInt(currentPage) + 1  %>&productName=<%= productName %>">&#8594;</a>
                                                                </li>
                                                                <% } else { %>
                                                                    <li class="page-item">
                                                                        <a class="page-link"
                                                                            href="/customer/products/search?page=<%= parseInt(currentPage) + 1  %>&productName=<%= productName %>">&#8594;</a>
                                                                    </li>
                                                                    <% } %>

                </ul>
                <% } %>
        </nav>
    </div>



    <script>
        var count = 1;
        function showToast(productName, productId, customerId) {
            var toast = new bootstrap.Toast(document.getElementById('productToast'));
            const button = document.createElement('a');
            button.setAttribute('class', 'btn btn-primary btn-sm m-2 position-relative');
            button.setAttribute('href', `/customer/${customerId}/${productId}/cart`)
            const span = document.createElement('span')
            const span2 = document.createElement('span')
            span.setAttribute('class', 'position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger')
            span.innerText = count++;
            button.innerText = 'View Cart!'
            button.appendChild(span)
            document.getElementById('toastMessage').innerText = `Hurray! ${productName} is added to your cart `;
            document.getElementById('toastMessage').appendChild(button);
            toast.show();
        }
        const cartForm = document.querySelector('#cartForm');


        cartForm.addEventListener('submit', function (e) {
            e.preventDefault();
        })


    </script>