<% layout('../layout/templates/customer/boilerplate') -%>

    <div class="container">
        <div id="notifications" class=" mb-3">
            <% for(let notification of customer.notifications) {%>
                <div class="card">
                    <div class="card-body position-relative ">
                        <b>
                            <a href="/customer/products/<%= notification.productId %>"
                                style="text-decoration: none; color: #212529">
                                <%= notification.header %> from the <%= notification.productName %> Product
                            </a>
                        </b> <br>
                        <%= notification.message %>
                            <div class="position-absolute bottom-0 end-0 pe-2" style="padding-bottom: 20px;"><b>
                                    <%= String(notification.timestamp.getHours() % 12 || 12).padStart(2,'0') %>:<%=
                                            String( notification.timestamp.getMinutes()).padStart(2,'0') %>
                                            <%= (notification.timestamp.getHours()> 12) ? 'PM' : 'AM' %>
                                </b>
                                <%= notification.timestamp.getDate() %>/<%= notification.timestamp.getMonth() + 1 %>/<%=
                                            notification.timestamp.getFullYear() %>
                            </div>
                    </div>
                </div> <br>

                <% } %>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        const socket = io();
        const user = '<%= currentUser._id %>';
        const container = document.querySelector('#notifications');
        socket.emit('join', user)
        socket.on('notifyCustomer', (notification) => {
            try {
                const timestamp = new Date(notification.timestamp);
                console.log('New query received:', notification);
                const cardBody = document.createElement('div');
                const card = document.createElement('div')
                card.setAttribute('class', 'card mb-4')
                cardBody.setAttribute('class', 'message card-body position-relative');
                cardBody.innerHTML = `
        <a href="/customer/products/${notification.productId}" style='text-decoration: none; color: #212529'> <b>
               ${notification.header} from the ${notification.productName} Product
            </b></a> <br>
             ${notification.message}
                <div class="position-absolute bottom-0 end-0 pe-2" style="padding-bottom: 20px;"><b>
                        ${String(timestamp.getHours() % 12 || 12).padStart(2, '0')}:${String(
                    timestamp.getMinutes()).padStart(2, '0')}
                                ${(timestamp.getHours() > 12) ? 'PM' : 'AM'}
                    </b>
                    ${timestamp.getDate()}/${timestamp.getMonth() + 1}/${timestamp.getFullYear()}
                </div>
       
        <br>
    `;
                card.append(cardBody)
                if (container.firstChild) {
                    container.insertBefore(card, container.firstChild);
                } else {
                    container.appendChild(card);
                }
                console.log(cardBody)
            } catch (e) {
                console.log(e)
            }
        });
    </script>