<% layout('../layout/templates/customer/boilerplate') -%>

    <style>
        #card:hover {
            transform: translate3d(0, -.600rem, 0);
            transition: 0.25s;
            box-shadow: 10px 5px 5px rgba(0, 0, 0);
        }
    </style>
    <div class="container-fluid container-lg ">
        <div class="d-flex row justify-content-center ">
            <% for(let order of customer.orders) {%>

                <div class="card m-2  shadow-lg p-0 " id="card" style="width: 19rem; ">
                    <img src="<%= order.product.imageUrl[0] %>" class="card-img-top shadow" alt="...">
                    <div class="card-body p-0 mb-0">
                        <ul class="list-group">
                            <li class="list-group-item text-muted py-3">
                                <center>
                                    <h6 class="card-title">
                                        <b>A <%= order.product.brand %> Product</b>
                                    </h6>
                                </center>
                            </li>
                            <li class="list-group-item"
                                style="display: flex; align-items: center; justify-content: center;  border: 0px;">
                                <center>
                                    <h5 class="card-title  ">
                                        <%= order.product.name %>
                                    </h5>
                                </center>
                            </li>
                    </div>
                    <div class="card-footer p-0">
                        <ul class="list-group list-group-flush d-flex ">
                            <li class="list-group-item d-flex justify-content-between ">
                                <div>
                                    <b>Price:</b>
                                </div>
                                <div>
                                    &#8377; <%= order.product.price %>
                                </div>
                            </li>

                            <li class="list-group-item d-flex flex-column  ">
                                <div class="mb-1"><b>Description:</b></div>
                                <p class="card-text">
                                    <%= order.product.headers %>
                                </p>
                            </li>
                            <li class="list-group-item d-flex flex-column  ">
                                <div class="mb-1"><b>Status:</b></div>
                                Your order has been confirmed and will be delivered within 3 days......
                            </li>
                            <li class="list-group-item d-flex flex-column  ">
                              <form action="/customer/order/<%= order.id %>/status">
                                <button class="btn btn-success" type="submit">Track Your Order here</button>
                            </form>
                            </li>

                        </ul>
                    </div>
                </div>

                <% } %>
               
        </div>