<% layout('../layout/templates/customer/boilerplate') -%>

    <div class="container-fluid">
        <style>
            #card:hover {
                transform: translate3d(0, -.600rem, 0);
                transition: 0.25s;
                box-shadow: 10px 5px 5px rgba(0, 0, 0);
            }
            body{
                transition: 0.25s
            }
        </style>
        <div class="d-lg-block d-none" style="transition: 1s">
            <div class="d-flex row justify-content-center">
                <div class="m-3 ">
                    <button class="btn btn-primary shadow" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Sorting options
                    </button>
                </div>
                <div class="col-3 mt-1 rounded collapse p-0 m-0" id="collapseExample" style="transition: 1s;height: 1000px; ">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <form class="form" id="filterForm" action="/customer/products/sort/filter"
                                style="height: fit-content;">
                                <h4 class="m-2">Sorting options will appear here!</h4><br><br>
                                <!-- <select class="form-select shadow" id='category' name="category"
                                    aria-label="Default select example">
                                    <option value="none">Search By category</option>
                                    <option value="Computers">Computer</option>
                                    <option value="Mobiles">Mobiles</option>
                                    <option value="Cameras">Cameras</option>
                                    <option value="Men's">Men's</option>
                                    <option value="Women's">Women's</option>
                                    <option value="Kids'">Kids'</option>
                                    <option value="Accessories">Accessories</option>
                                    <option value="Decor">Decor</option>
                                    <option value="Kitchen">Kitchen</option>
                                    <option value="Bedding">Bedding</option>
                                    <option value="Skincare">Skincare</option>
                                    <option value="Haircare">Haircare</option>
                                    <option value="Perfumes">Perfumes</option>
                                    <option value="Books">Books</option>
                                    <option value="Movies">Movies</option>
                                    <option value="Music">Music</option>
                                    <option value="Equipment">Equipment</option>
                                    <option value="Activewear">Activewear</option>
                                    <option value="Camping">Camping</option>
                                    <option value="Kids' Toys">Kids' Toys</option>
                                    <option value="Board Games">Board Games</option>
                                    <option value="Video Games">Video Games</option>
                                    <option value="Vitamins">Vitamins</option>
                                    <option value="Fitness Equipment">Fitness Equipment</option>
                                    <option value="Monitoring Devices">Monitoring Devices</option>
                                    <option value="Car Accessories">Car Accessories</option>
                                    <option value="Maintenance">Maintenance</option>
                                    <option value="Motorcycle Gear">Motorcycle Gear</option>
                                    <option value="Rings">Rings</option>
                                    <option value="Watches">Watches</option>
                                    <option value="Necklaces">Necklaces</option>
                                    <option value="Stationery">Stationery</option>
                                    <option value="Furniture">Furniture</option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Groceries">Groceries</option>
                                    <option value="Snacks">Snacks</option>
                                    <option value="Beverages">Beverages</option>
                                    <option value="Pet Food">Pet Food</option>
                                    <option value="Accessories">Accessories</option>
                                    <option value="Care Products">Care Products</option>
                                    <option value="Handmade">Handmade</option>
                                    <option value="Customized">Customized</option>
                                </select> -->
                                <br>
                                <input type="text" value="<%= searchName2 %>" name="productName" class="d-none">
                                <select class="form-select shadow" name="arrangement" id="price">
                                    <option value="none">Search By Alphabet</option>
                                    <option value="123">A to Z</option>
                                    <option value="321">Z to A</option>
                                    </option>
                                </select>
                                <br>
                                <select class="form-select shadow" name="pricing" id="rating">
                                    <option value="none">Search By Price</option>
                                    <option value="123">Low to High</option>
                                    <option value="321">High to Low</option>
                                    </option>
                                </select>
                                <button class="btn btn-primary rounded btn-sm m-4 px-4 py-2">
                                    Filter</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-9 d-flex row justify-content-center" style="transition: 1s">
                    <% for(let product of products) {%>
                    
                    <div class="card m-2  shadow-lg p-0 " id="card" style="width: 19rem; ">

                        <img src="<%= product.imageUrl[0] %>" class="card-img-top shadow" alt="...">
                        <div class="card-body p-0 mb-0">
                            <ul class="list-group">
                                <li class="list-group-item text-muted py-3">
                                    <center>
                                        <h6 class="card-title">
                                            <b>A <%= product.brand %> Product</b>
                                        </h6>
                                    </center>
                                </li>
                                <li class="list-group-item"
                                    style="display: flex; align-items: center; justify-content: center;  border: 0px;">
                                    <center>
                                        <h5 class="card-title  ">
                                            <%= product.name %>
                                                <% if (newProducts.some(newProduct=> newProduct._id.toString() === product._id.toString())) { %> <span
                                                        class="badge text-bg-info">New</span>
                                                    <% } %>
                                        </h5>

                                    </center>
                                </li>
                        </div>

                        <div class="card-footer p-0">
                            <ul class="list-group list-group-flush d-flex ">
                                <li class="list-group-item d-flex justify-content-between ">
                                    <div>
                                        <b>Price:</b>
                                    </div>
                                    <div>
                                        &#8377; <%= product.price %>
                                    </div>
                                </li>

                                <li class="list-group-item d-flex flex-column  ">
                                    <div class="mb-1"><b>Description:</b></div>
                                    <p class="card-text">
                                        <%= product.headers %>
                                    </p>
                                </li>

                                <li class="list-group-item d-flex justify-content-around "
                                    style=" background-color: #F8F6F4; ">

                                    <a href="/customer/products/<%= product.id %>"
                                        class="btn btn-primary me-1 p-2 w-100 mt-auto rounded-2">View
                                        Details!</a>

                                    <% if(customer) {%>
                                        <form action="/customer/<%= product.id %>/cart"
                                            method="post" id="cartForm" class="w-100">
                                            <button type="submit"
                                                class="btn btn-warning w-100 p-2  mt-auto  rounded-2">Add to
                                                cart</button>
                                        </form>

                                        <% } %>


                                </li>
                            </ul>
                        </div>
                    </div>
                    <% } %>
</div>



        <nav aria-label="Page navigation example">
            <% if(products.length> 0) {%>
                <ul class="pagination justify-content-center d-flex">

                    <% if(currentPage==='1' ) {%>
                        <li class="page-item disabled">
                            <a class="page-link"
                                href="/customer/products/search?page=<%= currentPage - 1 %>&productName=<%= productName %>">&#8592;</a>
                        </li>
                        <% } else { %>
                            <li class="page-item ">
                                <a class="page-link"
                                    href="/customer/products/search?page=<%= currentPage - 1  %>&productName=<%= productName %>">&#8592;</a>
                            </li>
                            <% } %>
                                <% const startPage=Math.max(1, currentPage - 3); %>
                                    <% const endPage=Math.min(totalPages, startPage + 6); %>
                                        <% for (let page=startPage; page <=endPage; page++) { %>

                                            <% if(currentPage==page) {%>
                                                <li class="page-item active shadow"><a class="page-link"
                                                        href="/customer/products/search?page=<%= page %>&productName=<%= productName %>">
                                                        <%= page %>
                                                    </a></li>
                                                <% } else {%>
                                                    <li class="page-item"><a class="page-link"
                                                            href="/customer/products/search?page=<%= page %>&productName=<%= productName %>">
                                                            <%= page %>
                                                        </a></li>
                                                    <% } %>

                                                        <% } %>
                                                            <% if(currentPage===totalPages.toString() ) {%>
                                                                <li class="page-item disabled">
                                                                    <a class="page-link"
                                                                        href="/customer/products/search?page=<%= parseInt(currentPage) + 1  %>&productName=<%= productName %>">&#8594;</a>
                                                                </li>
                                                                <% } else { %>
                                                                    <li class="page-item">
                                                                        <a class="page-link"
                                                                            href="/customer/products/search?page=<%= parseInt(currentPage) + 1  %>&productName=<%= productName %>">&#8594;</a>
                                                                    </li>
                                                                    <% } %>

                </ul>
                <% } %>
        </nav>
    </div>



    <script>
        var count = 1;
        function showToast(productName, productId, customerId) {
            var toast = new bootstrap.Toast(document.getElementById('productToast'));
            const button = document.createElement('a');
            button.setAttribute('class', 'btn btn-primary btn-sm m-2 position-relative');
            button.setAttribute('href', `/customer/${customerId}/${productId}/cart`)
            const span = document.createElement('span')
            const span2 = document.createElement('span')
            span.setAttribute('class', 'position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger')
            span.innerText = count++;
            button.innerText = 'View Cart!'
            button.appendChild(span)
            document.getElementById('toastMessage').innerText = `Hurray! ${productName} is added to your cart `;
            document.getElementById('toastMessage').appendChild(button);
            toast.show();
        }
        const cartForm = document.querySelector('#cartForm');


        cartForm.addEventListener('submit', function (e) {
            e.preventDefault();
        })


    </script>