<div class="container">

    <% if(success && success.length) {%>
        <div class="alert alert-success alert-dismissible fade show my-5" role="alert">
            <%= success %>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

            <% if(error && error.length) {%>
                <div class="alert alert-danger alert-dismissible fade show my-5" role="alert">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-exclamation-triangle-fill mb-1 me-1" viewBox="0 0 16 16">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg>
                    <%= error %>
                        <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>

                    <% if(info && info.length) {%>
                        <div class="alert alert-info alert-dismissible fade show my-5" role="alert">

                            <%= info %>
                                <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                        <% } %>
                            <% if(cartInfo && cartInfo.length) {%>

                                <div class="alert alert-info alert-dismissible fade show my-5 d-flex" role="alert">

                                    <div class="mt-1">
                                        <%= cartInfo %>&nbsp;
                                    </div>
                                    <form action="/customer/<%= undoProduct.productId %>/undocart"
                                        method="post"><button class="btn btn-sm btn-primary  ms-1">Undo</button>
                                    </form>
                                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>


                                <% } %>
</div>
