<div class="d-sm-block d-md-block d-lg-none d-block">
  <nav class="navbar navbar-sm shadow-sm p-0 sticky-top" style="background-color: rgba(255, 255, 255, 0.75);   -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);">
    <div class="container-fluid py-0">
      <a class="navbar-brand ms-4 mt-3" href="#">
        <p style="font-family: 'DM Serif Display', serif;" class="mt-2">Z&nbsp;&nbsp;E&nbsp;&nbsp;N</p>
      </a>
      <ul class="navbar-nav ml-auto d-flex flex-row">
        <button class="navbar-toggler mt-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#canvas"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </ul>



      <div class="offcanvas offcanvas-end bg-secondary text-light" data-bs-scroll="true" tabindex="-1" id="canvas"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header" style="background-color: rgba(0,0,0,0.1);">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="font-family: 'DM Serif Display', serif;">
            Z&nbsp;&nbsp;E&nbsp;&nbsp;N</h5>
          <button type="button" class="navbar-toggler" data-bs-dismiss="offcanvas" aria-label="Close">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
          </button>

        </div>
        <div class="offcanvas-body bg-secondary" id="navbarTogglerDemo03">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active  text-light" aria-current="page" href="/products">All Products</a>
            </li>

            <li class="nav-item text-light">
              <a class="nav-link text-light " href="/seller/all/sellers">View All Sellers</a>
            </li>

            <li class="nav-item text-light">
              <a class="nav-link text-light" href="/sellers/new">Join as Seller</a>
            </li>

            <li class="nav-item text-light">
              <a class="nav-link text-light" href="/home">Home page</a>
            </li>
            <li class="nav-item text-light">
              <a class="nav-link" href="/products/customer/favourites">Favourites</a>
            </li>
          </ul>


        </div>
      </div>
    </div>
  </nav>

</div>
<div class="offcanvas offcanvas-top text-light" data-bs-scroll="true" data-bs-backdrop="false"
  style="background-color: rgba(255, 255, 255, 0); height: fit-content;" tabindex="-1" id="offcanvasTop"
  aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header" style="background-color: rgba(0, 0, 0, 0.55)">
    <h5 class="offcanvas-title" id="offcanvasTopLabel"><p style="font-family: 'DM Serif Display', serif;" class="mt-2 ms-4"
      style="background-color: rgba(255, 255, 255, 0.75)">
      Z&nbsp;&nbsp;E&nbsp;&nbsp;N</p></h5>
    <button type="button" style="color: white" class="btn" data-bs-dismiss="offcanvas" aria-label="Close"><svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
        viewBox="0 0 16 16">
        <path
          d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
      </svg></button>
  </div>
  <div class="offcanvas-body 100vh" style="background-color: rgba(0, 0, 0, 0.55)">
    <form action="/customer/products/search?page=1">
      
        <input type="text" class="form-control" placeholder="Search Anything!" list="datalistOptions"
          name="productName">

   
    </form>
  </div>
</div>
  <div class="d-xl-block d-lg-block d-md-none d-sm-none d-none sticky-top">
    <nav class="navbar shadow-sm  p-0 " style="background-color: rgba(255, 255, 255, 0.75);   -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);">
      <div class="d-flex flex-row">

        <a class="navbar-brand ms-4 mt-3" href="#">

          <p style="font-family: 'DM Serif Display', serif;" class="mt-2 ms-4"
            style="background-color: rgba(255, 255, 255, 0.75)">
            Z&nbsp;&nbsp;E&nbsp;&nbsp;N</p>
        </a>
        <ul class="navbar-nav ms-5 mt-1 justify-content-start d-flex flex-row align-items-center">
          <li class="nav-item mx-4" id="navitem">
            <a class="nav-link" aria-disabled="true" href="/customer/home">Home</a>
          </li>
          <li class="nav-item mx-4" id="navitem">
            <a class="nav-link" href="/customer/products?page=1" aria-current="page">All Products</a>
          </li>

          <li class="nav-item mx-4 " id="navitem">
            <a class="nav-link" href="/seller/all/sellers">All Sellers</a>
          </li>
          <li class="nav-item mx-4 " id="navitem">
            <a class="nav-link" style="cursor: pointer;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
              aria-controls="offcanvasTop">Search Products</button>
          </li>
          <% if(currentUser) {%>
            <li class="nav-item mx-4 mb-3" id="navitem">
              <a class="nav-link" href="/customer/<%= currentUser._id %>/products/favourites">Favourites</a>
            </li>
            <% } %>
      </div>
      <div class="navbar-nav ml-auto d-flex flex-row align-items-center">

        <% if(customer) {%>
          <form action="/customer/<%= currentUser._id %>/cart">
            <button type="submit" class="btn  position-relative"
              style="background-color: rgba(255, 255, 255, 0.0); border: 0px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z" />
              </svg>
              <span class="position-absolute top-75 start-100 translate-middle badge rounded-pill bg-danger">
                <%= currentUser.cart.length %>
              </span>

            </button>
          </form>
          <li class="nav-item mx-4" id="navitem">
            <a class="nav-link mt-2" data-bs-toggle="modal" data-bs-target="#myModal2" style="cursor: pointer">CLogout
            </a>

            <% } %>

              <% if(seller) {%>
          <li class="nav-item mx-4" id="navitem">
            <a class="nav-link mt-1" data-bs-toggle="modal" data-bs-target="#myModal" style="cursor: pointer">SLogout
            </a>
            <% } %>

          </li>
          <% if(currentUser){%>
            <div class=" my-1 d-flex flex-column justify-content-center">
              <a href="/customer/profile/<%= currentUser._id %>/view"> <img src="<%= currentUser.profilePic %>"
                  width="60px" height="60px" style="border-radius: 100%; object-fit: cover;" class="me-3" class="m-1" alt=""></a>


            </div>



            <% } %>
      </div>
      </ul>
    </nav>
  </div>

  </nav>
  <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->


        <!-- Modal Body -->
        <div class="modal-body">
          <p>Are you sure to logout Zen?</p>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nope</button>
          <a type="button" href="/seller/auth/logout" class="btn btn-primary">Yes</a>
        </div>

      </div>
    </div>
  </div>


  <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->


        <!-- Modal Body -->
        <div class="modal-body">
          <p>Are you sure to logout Zen?</p>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nope</button>
          <a type="button" href="/customer/auth/logout" class="btn btn-primary">Yes</a>
        </div>

      </div>
    </div>
  </div>